/* Genel sayfa stil ayarları */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  position: relative; /* Sayfanın pozisyonunu göreceli olarak ayarla */
}

/* Başlık ve border stil ayarları */
#heading {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative; /* Başlığı göreceli olarak konumlandır */
}

.border {
  border: 1px solid white;
  margin: 10px auto;
  width: 50%;
}

/* Sol menü stil ayarları */
#side-menu {
  background-color: #f1f1f1;
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute; /* Menünün mutlak konumlandırılması */
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 50; /* Menünün diğer içeriklerin üzerinde olmasını sağla */
}

#menu-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #0e37b4;
  color: white;
  border: none;
  cursor: pointer;
  position: relative; /* Butonu göreceli olarak konumlandır */
  margin-top: 20px; /* Butonun üst kısmına boşluk ekle */
}

#menu-content {
  display: none;
  padding-left: 10px;
}

.category-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 3px;
  background-color: #d84d31;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button.active {
  background-color: #d84d31;
}

.part-button.active {
  background-color: #0d7acd;
}

.category-button:hover {
  background-color: #0c0c0c;
}

.sublist {
  display: none;
  padding-left: 20px;
}

.part-button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.part-button:hover {
  background-color: #45a07b;
}

/* Kayan kutu stil ayarları */
#info-box {
  background-color: #ddd;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -220px; /* Başlangıçta ekranın dışında */
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
  z-index: 100; /* Kayan kutunun diğer içeriklerin üzerinde olmasını sağla */
}

#info-text {
  margin: 0;
  font-size: 18px;
}
